@import url(principal.css);

.formulario {
    text-align: center;
    display: inline;
    max-width: 80%;
}

form {
    text-align: center;
}

form label, form legend {
    text-align: center;
    display: block;
    font-size: 20px;
}

.input-padrao {
    display: block;
    margin: 1% auto;
    padding: 10px 25px;
    width: 30%;
}

.enviar {
    width: 30%;
    padding: 15px;
    background: #D9A404;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #F82000;
    transform: scale(1.1);
}